/**
 *  颜色
 */

/*背景色*/
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f1f2f7;
}
/*字体颜色*/
.color-black {
  color: #000;
}
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #666;
}
.color-blue {
  color: #0000EE;
}
.color-red {
  color: #EB3941;
}
