/**
  * 定义常用的margin、padding间隔值
  * 定义常用width、height值
 */
//margin值
.margin-top20 {
  margin-top: 20px;
}
.margin-top15 {
  margin-top: 15px;
}
.margin-center {
  margin: 0 auto;
}
.margin-left20 {
  margin-left: 20px;
}
.margin-right20 {
  margin-right: 20px;
}